@font-face {
    font-family: roboto;
    src: url('../css/fonts/Roboto-Light.ttf');
}

* {

    font-family: roboto;
}

body {
    margin: 0;
}


/* global style*/

button.normal {
    background-color: #fff;
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 700;

}


/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    height: 100vh;
    color: #fff;
    position: relative;
}
header nav {
    width: 90%;
    position: absolute;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav h1 {
    font-weight: 900;
    font-size: 50px;
    margin: 0;
}
header nav .nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.3s ease 0s;
}
header .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .center-text h1 {
    font-weight: 900;
    font-size: 55px;
}

header .center-text p {
    font-size: 25px;
    width: 50%;
    text-align: center;
}

header .center-text .join-btn {
    margin-top: 30px;
    background-color:#FD4E51;
    color: #fff;
}

/* ABOUT */

#about{
    display:flex;
    align-items: center;
    flex-direction: column;
}

#about{
    height: 100vh;
    margin:0 70px;
}
#about h1{
    font-size: 37px;
    margin: 15px 0 0 0;
}
#about h4{
    font-size: 18px;
    padding: 15px 0 20px;
}
#about .qualities{
    display: flex;
    justify-content: space-between;

    
}
#about .qualities .qual-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin:0 100px;
    padding: 0 45px;
    border:1px solid black;
    border-radius: 15px;

}
#about .qualities .qual-item h2{
    font-size: 28px;
}
#about .qualities .qual-item p{
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    text-align: justify;
}

/* WE OFFER */

#weoffer {
    height:100vh;
}

/* TEAM */

#team{
    height:100vh;
}

/* PORTFOLIO */

#portfolio{
    height:100vh;
}

/* CONTACT */

#contact{
    height:100vh;
}

/* ANIMATIONS */

.fadeMid {
    animation: fadeMid ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadeRight {
    animation: fadeInRight ease 1.5s;
    animation-duration: 0.1;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}

.fadeLeft {
    animation: fadeInLeft ease 1.5s;
    animation-duration: 0.1;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}

@keyframes fadeMid {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}